<template name="home">
	<section id="home" class="pfblock-image screen-height">
		<div class="home-overlay"></div>
		<div class="intro">
			<div class="app-icon {{iconClasses}}">
				{{>appIcon}}
			</div>
			<h1>Welcome to Get With The Club!</h1>
			<div class="start">Learn how to hack web apps and servers so you know what security pitfalls to avoid.</div>
		</div>

		<a href="#classes" data-action="scroll-to-classes">
			<div class="scroll-down">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
			</div>
		</a>

	</section>

	<!-- Classes start -->

	<section id="classes" class="pfblock">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">{{#if userIsLoggedIn}}Welcome {{firstName}}, {{/if}}Let's Start Hacking!</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							Select a lesson below and we'll spin up a server for you to start hacking into.
						</div>
						<div class="twitter-login-container">
							{{#unless userIsLoggedIn}}
								{{>twitterLogin}}
							{{/unless}}
						</div>
					</div>

				</div>

			</div><!-- .row -->

			<div class="row">
				{{#each classes}}
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="grid wow" data-action="open-course">
							<figure class="effect-bubba">
								<img src="{{img}}" alt="{{title}}"/>
								<figcaption>
									<h2><span>{{title}}</span></h2>
									<p>{{description}}</p>
								</figcaption>
							</figure>
						</div>

					</div>
				{{/each}}
			</div>




		</div><!-- .contaier -->

	</section>

	<!-- Classes end -->
</template>

<template name="twitterLogin">
	<button class="btn btn-default" data-action="launch-twitter-login"><i class="fa fa-twitter twitter-blue"></i>Login with Twitter To Get Started</button>
</template>
